body {
      margin: 0;
      font-family: sans-serif;
      background-image: url(img/background.jpg);
      background-size: cover;
      background-attachment: fixed;
      text-shadow: 1px 1px 3px rgba(0,0,0,0.3);

    }
    .theme-adalaj {
    color: #D4AF37;
  }

  .theme-kankaria {
    color: #008080;
  }

  .theme-laldarwaja {
    color: #800000;
  }

  .theme-sidi {
    color: #708090;
  }

    h1{
      margin-top: 100px;
      font-size: 90px;
      word-spacing: 10px;
      color: #ff0000;
    }
    h2{
      font-size: 80px;
      color:#2c2a2a;

    }

    h3{
      font-size: 50px;
      word-spacing: 10px;
    }
    p{
      font-size: 30px;
    }

    .section-1 {
      padding: 20px;
      text-align: right;
      height: 900px;
    }

    .section-2 {
      display: flex;
      padding: 20px;
      height: 900px;

    }

    .section-3 {
      flex: 2;
      padding: 20px;
      position: absolute;
      margin-left: 100px;
      margin-top: 200px;
      margin-bottom: 100px;
      margin-right: 600px;
    }

    aside {
      flex: 1;
      margin-top: 200px;
      margin-bottom: 200px;
      padding: 20px;
      text-align: center;
      position:absolute;
      margin-left: 600px;
      margin-right: 100px;

    }
    img{
      width: 200px;
      height: 200px;
    }
